* {
  font-family: "Times New Roman", Times, serif;
  box-sizing: border-box;
  background-color: wheat;
}

body {
  padding-top: 10px;
}

#home-title {
  color: orchid;
}

#recipes {
  border: 2px solid blueviolet;
  width: 200px;
  height: 700px;
  font-size: large;
  position: absolute;
  left: 50%;
  margin-left: -100px;
  list-style: none;
}

#lasagna-link,
#bbh-link,
#pho-link {
  text-decoration: none;
  display: block;
  width: fit-content;
  text-align: center;
}

#lasagna-link {
  border-bottom: 4px dotted coral;
}

#bbh-link {
  border-bottom: 4px dotted firebrick;
}

#pho-link {
  border-bottom: 4px dotted darkgreen;
}

#home {
  text-align: left;
  border: 2px black dotted;
  padding: 5px;
  border-style: outset;
  margin-bottom: 10px;
  &:hover {
    background-color: gold;
  }
  text-decoration: none;
}

h1 {
  border: 2px black;
  text-align: center;
}

.food-title {
  display: block;
  padding: 0px;
  border: 2px tomato solid;
  margin: 20px auto;
}

.food-title.lasagna {
  background-color: orange;
}

.food-title.bun-bo-hue {
  background-color: rgb(161, 38, 0);
  border-color: maroon;
}

.food-title.pho {
  background-color: whitesmoke;
  border-color: forestgreen;
}

.food-pic {
  margin: 20px auto;
  display: block;
  width: 650px;
  height: 487.5px;
}

#credit {
  margin-top: -40px;
  color: azure;
  text-align: center;
  margin-left: -24%;
}

#credit a {
  background-color: transparent;
  color: aqua;
}

#description {
  border: 2px solid peru;
  padding: 10px auto 10px;
  margin: 20px auto;
  text-align: center;
  width: 650px;
  height: auto;
  font-size: x-large;
  display: block;
}

#description h2 {
  color: peru;
}

#description p {
  color: darkgoldenrod;
}

#ingredients {
  display: block;
  border: 2px solid lawngreen;
  padding: 10px;
  margin: 20px auto;
  width: 650px;
  height: auto;
}

#ingredients h2 {
  color: cornflowerblue;
}

#ingredients ul {
  padding-left: 20px;
  padding-right: 0px;
  list-style: square;
}

#ingredients li {
  text-align: left;
  color: olive;
}

#steps {
  display: block;
  width: 650px;
  height: auto;
  padding-right: 0px;
  border: 2px solid thistle;
  margin: 20px auto;
}

#steps h2 {
  text-align: center;
  color: teal;
}

#steps li {
  list-style: lower-roman;
  color: slateblue;
}
